.wrap{    
    background-color: rgba(223, 221, 221, 0.979);
    border-radius: 10px;
    box-shadow: 5px 5px rgb(121, 118, 118);
    padding: 10px 20px 20px;
    height: min-content;
    margin-bottom: 20px;
}
h1{
    padding: 0;
    margin: 0;
    font-size: 24px;
}
.select{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
select{    
    position: relative;
    border: none;
    border-radius: 12px;
    background-color: navy;
    background: url('./../../../icons/forBtn.png') no-repeat;
    background-position: 85% 50%;
    background-size: 24px;
    background-color: navy;
    color: white;
    font-size: 22px;
    width: 150px;   
    height: 40px; 
    cursor: pointer;
    padding: 0 35px;
    appearance: none;
}


img{
    z-index: 2;
}
option{
    background-color: rgb(91, 91, 117);
    cursor: pointer;
    /* border: none; */
}
p{
    margin: 0 0 0 5%;
    font-size: 12px;
}
.f{
    color: white;
}