.wrap{
    margin: o auto;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content;
    grid-template-areas: 
    "dashboard profit"
    "dashboard instances";
    grid-gap: 20px;
}