.wrap{
    margin: o auto;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
     /* grid-template-rows: content;  */
    grid-template-areas:     
    "dashboard rightPart";
    grid-gap: 20px;
}
.rightPart{
    grid-area: rightPart;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
}