table{
    width: 100%;

}
thead th{
   padding: 10px 0 20px;
   border-bottom: 2px solid grey;
   
}

tbody td{
    text-align: center;
}
tbody td:nth-child(1){
    color: red;
}
tbody td:nth-child(3){
    color: green;
}